.content {
  font-family: AP-Regular;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 10px;
}

.content_p1 {
  font-family: AP-Regular;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 10px;
  text-indent: 50px;
}

.content_title {
  font-family: AP-Regular;
  font-size: 18px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 10px;
}

.content_header {
  font-family: AP-Bold;
  font-size: 23px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #c92028;
  color: white;
}
