<div class="content_header">ข้อตกลงและเงื่อนไขการใช้บริการเว็บไซต์ของ บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) (“เอพี”)</div>
<div class="content_title">1.บทนำ</div>
<div class="content_p1">
  ยินดีต้อนรับสู่ www.apthai.com (“เว็บไซต์”) โดยเว็บไซต์นี้ได้จัดทำขึ้นและดำเนินการโดย บริษัท เอพี
  (ไทยแลนด์) จำกัด (มหาชน) (“บริษัท”) เพื่อเผยแพร่ข้อมูลเกี่ยวกับรายละเอียดของโครงการที่พักอาศัยทั้งคอนโดมิเนียม
  บ้านเดี่ยว ทาวน์เฮาส์ อาคารพาณิชย์ และโครงการอื่นๆที่ดำเนินการโดยบริษัท บริษัทในเครือ บริษัทร่วมทุน และ/หรือ พาร์ทเนอร์ (partner)
  ของบริษัท (“บริษัทร่วม”) รวมถึงเพื่อให้ท่านค้นหาผลิตภัณฑ์และบริการ
  ตรวจสอบข่าวสารและโปรโมชันล่าสุด (“ผลิตภัณฑ์และการบริการ”) ตลอดจนการดำเนินการใดเกี่ยวกับผลิตภัณฑ์และบริการผ่านเว็บไซต์
  โดยเว็บไซต์จะมีการปรับปรุงอย่างต่อเนื่อง และอาจใช้อุปกรณ์ซอฟต์แวร์เพื่อการเก็บรวบรวมข้อมูลในด้านพฤติการณ์การ
  ใช้บริการของผู้เข้าชมเว็บไซต์ได้เพื่อวัตถุประสงค์ในการปรับปรุงเว็บไซต์ให้เข้าถึงกลุ่มเป้าหมาย
</div>
<div class="content">
  ทั้งนี้ ก่อนที่ท่านจะใช้งานเว็บไซต์นี้ ท่านจะต้องอ่านและทำความเข้าใจข้อกำหนดและเงื่อนไขและ
  นโยบายการรักษาความลับส่วนบุคคลของเว็บไซต์นี้อย่างละเอียด
  ดังนั้น หากท่านไม่สามารถยอมรับข้อกำหนดและเงื่อนไขและนโยบายการรักษาความลับส่วนบุคคลในการใช้งานเว็บไซต์นี้ได้ทั้งหมดหรือแต่บางส่วน
  ขอให้ท่านยุติการใช้งานเว็บไซต์นี้โดยทันที แต่ทั้งนี้หากท่านใช้งานเว็บไซต์ต่อไป
  ให้ถือว่าท่านได้ยินยอมตามข้อกำหนดและเงื่อนไขและนโยบายการรักษาความลับส่วนบุคคลของบริษัทแล้วทุกประการ
</div><br />
<div class="content_title">2.วัตถุประสงค์</div>
<div class="content_p1">
  วัตถุประสงค์ของข้อกำหนดและเงื่อนไขมีขึ้นเพื่อกำหนดสิทธิและหน้าที่ระหว่างท่านกับบริษัท
  ตลอดจนขั้นตอนสำหรับการใช้งานเว็บไซต์ และการเข้าใช้เว็บไซต์นี้ให้ถือว่าท่านยอมรับและ
  ตกลงที่จะปฏิบัติและผูกพันภายใต้ข้อกำหนดและเงื่อนไขนี้ ทั้งนี้
  บริษัทอาจเปลี่ยนแปลงข้อกำหนดและเงื่อนไขการใช้บริการได้ทุกเมื่อตามดุลยพินิจของบริษัท
</div><br />
<div class="content_title">3.ทรัพย์สินทางปัญญา</div>
<div class="content_p1">
  3.1	ท่านตกลงและยอมรับว่า บรรดาข้อมูล ข้อความ รูปภาพ เสียง โลโก้
  และ/หรือส่วนหนึ่งส่วนใดของเว็บไซต์นี้ รวมถึงแต่ไม่จำกัดเพียงเฉพาะ ลิขสิทธิ์
  เครื่องหมายการค้า เครื่องหมายบริการ ชื่อทางการค้า ฐานข้อมูล ความลับทางการค้า
  สิทธิบัตร โนว์ฮาว ข้อมูลธุรกิจ ฯลฯ ที่ปรากฏบนเว็บไซต์
  เป็นกรรมสิทธิ์และสิทธิในทรัพย์สินทางปัญญา ของบริษัท แต่เพียงผู้เดียว</div>
  <div class="content_p1">3.2	เว้นแต่จะได้มีการกำหนดไว้เป็นอย่างอื่น ทรัพย์สินทางปัญญาใดๆ ที่บริษัท
  ได้จัดทำขึ้นหรือนำมาใช้บนเว็บไซต์ บริษัทมีสิทธิแต่เพียงผู้เดียวในการใช้หรืออนุญาตให้ใช้งานทรัพย์สินทางปัญญาดังกล่าว
  โดยที่ท่านตกลงจะไม่คัดลอก ทำซ้ำ แก้ไข ดัดแปลง ต่อยอด อนุญาตให้ใช้ หรือ กระทำการใดๆ
  อันเป็นการละเมิดต่อสิทธิในทรัพย์สินทางปัญญาของบริษัทโดยเด็ดขาด</div>
  <div class="content_p1">3.3	การผิดเงื่อนไขของข้อตกลงข้อนี้ให้ถือว่าเป็นการกระทำผิดในสาระสำคัญของข้อกำหนดและเงื่อนไข
  โดยบริษัทมีสิทธิเรียกร้องค่าเสียหายจากท่านได้ทันที
</div><br />
<div class="content_title">4.สิทธิและหน้าที่ของท่าน</div>
<div class="content_p1">
  4.1 ท่านจะใช้งานเว็บไซต์นี้ เพื่อวัตถุประสงค์ที่ได้รับอนุญาตตามข้อกำหนดและเงื่อนไขของบริษัทเท่านั้น
  โดยการใช้งานดังกล่าวของท่านจะต้องไม่ขัดต่อ กฏหมาย กฎ ระเบียบ ข้อบังคับ หรือ หลักปฏิบัติที่เป็นที่ยอมรับโดยทั่วไป
</div>
<div class="content_p1">
  4.2	ท่านต้องไม่เข้าใช้หรือพยายามเข้าใช้บริการหนึ่งบริการใด โดยวิธีอื่นรวมถึงการใช้วิธีการอัตโนมัติ
  เช่น การใช้สคริปต์ (ชุดคำสั่งหรือภาษาคอมพิวเตอร์เพื่อแฝงตัวเข้าสู่ระบบท่าน)
  นอกจากช่องทางที่บริษัทได้กำหนดไว้ เว้นแต่ ท่านจะได้รับอนุญาตเป็นลายลักษณ์อักษรจากบริษัท
</div>
<div class="content_p1">
  4.3	ท่านต้องไม่ทำ หรือมีส่วนร่วมในการขัดขวางหรือรบกวนการใช้งานเว็บไซต์
  รวมทั้งเข้าไปยุ่งเกี่ยวกับเครื่องแม่ข่ายและเครือข่ายที่เชื่อมต่อกับการใช้งานของเว็บไซต์นี้อย่างเด็ดขาด
</div>
<div class="content_p1">
  4.4	ในการใช้งานเว็บไซต์ ท่านต้องไม่กระทำการใดอันขัดต่อกฎหมาย
  และขัดต่อความสงบเรียบร้อย หรือศีลธรรมอันดีของประชาชน ไม่ล่วงละเมิดสิทธิใดๆ
  ของบริษัท ผู้ใช้งานรายอื่น และบุคคลอื่น และไม่กระทำการใดอันก่อให้เกิดความเสียหายแก่บุคคลดังกล่าวข้างต้น
</div>
<div class="content_p1">
  4.5	ท่านต้องไม่ดำเนินการหรืออนุญาตให้บุคคลที่สามดำเนินการแก้ไขดัดแปลง แปล
  หรือ ทำวิศวกรรมย้อนกลับ (reverse engineer) ส่วนของเว็บไซต์ กรอบของเว็บไซต์
  หรือลอกเลียนแบบส่วนของบริการใดๆ จากเว็บไซต์ รวมทั้งละเมิดลิขสิทธิ์ เครื่องหมายการค้า
  หรือข้อมูลทรัพย์สินทางปัญญาอื่นๆ ของบริษัทหรือผู้ใช้งานรายอื่น รวมถึงไม่รวบรวมข้อมูลที่บริษัทสร้างขึ้น
  รวมทั้งรูปภาพ ภาพพื้นหลัง และไอคอน เพื่อวัตถุประสงค์ใดๆก็ตาม เว้นแต่จะได้รับอนุญาตจากทางบริษัทเป็นลายลักษณ์อักษร
</div>
<div class="content_p1">
  4.6	ท่านต้องไม่เขียนข้อความใดๆ ลงในเว็บไซต์หรือพื้นที่อื่นใดที่แสดงออกหรือมีนัยว่า
  ข้อความดังกล่าวได้รับการสนับสนุนหรือรับรองจากบริษัทโดยไม่เป็นความจริง หรือไม่ได้รับอนุญาตก่อน
</div>
<div class="content_p1">
  4.7	ท่านต้องไม่ทำซ้ำ จัดพิมพ์ขึ้นใหม่ ดัดแปลง ดาวน์โหลด อัพโหลด ติดประกาศ เผยแพร่
  หรือกระทำการอื่นใดให้ปรากฎต่อสาธารณชนโดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษรจากบริษัทก่อนล่วงหน้า
  หากฝ่าฝืนต้องรับผิดตามกฎหมาย
</div>
<div class="content_p1">
  4.8	ท่านต้องไม่กระทำละเมิดสิทธิในทรัพย์สินทางปัญญาของบริษัท โดยรวมถึงแต่ไม่จำกัดเพียง
  ลิขสิทธิ์ สิทธิบัตร เครื่องหมายการค้า ความลับทางการค้า หรือ ทรัพย์สินทางปัญญาอื่นไม่ว่าโดยวิธีการใด
</div>
<div class="content_p1">
  4.9	ท่านต้องไม่ใช้เนื้อหา หรือ ข้อความ งานใดๆ จากเว็บไซต์นี้เพื่อแสวงหาประโยชน์
  โดยมิชอบโดยปราศจากความยินยอมเป็นลายลักษณ์อักษรล่วงหน้าจากบริษัท และ/หรือตั้งกระทู้
  หรือทำให้ปรากฏซึ่งข้อความที่ก่อให้เกิดความเสียหายต่อบริษัท ผู้ใช้งานอินเทอร์เน็ตรายอื่น และ/หรือบุคคลภายนอก
</div>
<div class="content_p1">
  4.10	ท่านต้องไม่ใช้โปรแกรมคอมพิวเตอร์ ซอฟต์แวร์ ขัดขวาง แทรกแซง
  รบกวนการทำงานหรือการให้บริการของบริษัท และ/หรือเครื่องคอมพิวเตอร์
  และ/หรือระบบคอมพิวเตอร์ของบุคคลภายนอก อาทิเช่น ใช้โปรแกรมซอฟต์แวร์ประเภทม้าโทรจัน
  (Trojan Horse) ไวรัสในรูปแบบของไทม์บอมส์ (Time Bombs) ฯลฯ ซึ่งทำให้เป็นภัยต่อการให้บริการเว็บไซต์
</div>
<div class="content_p1">
  4.11	ในกรณีที่ท่านนำข้อมูลในเว็บไซต์ไปเผยแพร่ ทั้งในรูปแบบของอีเมล และ/หรือ
  โฮมเพจของท่าน ให้ถือเป็นการกระทำที่อยู่ภายใต้ความรับผิดชอบของท่านแต่เพียงผู้เดียว
  และบริษัทไม่มีส่วนเกี่ยวข้องหรือรับผิดชอบใดๆ ต่อการกระทำดังกล่าวทั้งสิ้น
</div>
<div class="content_p1">
  4.12	ท่านต้องไม่กระทำการใดๆ อันขัดต่อประกาศหรือนโยบายของบริษัทที่ระบุไว้ในข้อกำหนดและเงื่อนไขฉบับนี้
  และ/หรือ การแก้ไขเพิ่มเติมข้อกำหนดและเงื่อนไขที่บริษัทประกาศหรือกำหนดขึ้นภายหลัง
  มิฉะนั้น บริษัทมีสิทธิ และ/หรืออาจดำเนินการในทางกฎหมายกับท่านตามที่บริษัทเห็นสมควรได้ทันที
</div>
<div class="content_p1">
  4.13	ท่านจะเป็นผู้รับผิดชอบแต่เพียงผู้เดียวต่อบุคคลใดๆ รวมถึงบริษัทในความเสียหายอันเกิดจากการละเมิดข้อกำหนดและเงื่อนไขนี้
</div>
<div class="content_p1">
  4.14	ท่านรับทราบและตกลงว่ารายละเอียดที่เกี่ยวข้องกับผลิตภัณฑ์และการบริการ เช่น จำนวนโครงการและยูนิต
  ที่ปรากฏในเว็บไซต์ และรายละเอียดที่ท่านและบุคคลภายนอกได้รับจากช่องทางอื่นของบริษัท
  (เช่น บูธชั่วคราว หรือ ณ โครงการ หรือ จุดขายอื่น ๆ) อาจแตกต่างกันตามนโยบายการขายของบริษัท
  หรือตามข้อเท็จจริงที่เกิดขึ้น ทั้งนี้ ท่านมีหน้าที่จะต้องพิจารณาข้อมูลรวมถึงรายละเอียดดังกล่าวด้วยตนเอง
  และบริษัทไม่ต้องรับผิดชอบต่อท่านในกรณีที่ข้อมูลดังกล่าวไม่ถูกต้องตรงกัน
</div>
<div class="content_p1">
  4.15	ท่านยอมรับความเสี่ยงว่าข้อมูลใด ๆ ที่ส่งหรือได้รับผ่านทางเว็บไซต์อาจจะถูกเข้าถึงโดยบุคคลภายนอกที่ไม่ได้รับอนุญาตได้
  และ/หรือเปิดเผยโดยบริษัทให้แก่บุคคลภายนอกที่อ้างว่าเป็นท่านหรืออ้างว่ากระทำการโดยได้รับมอบอำนาจจากท่าน
  การส่งข้อมูลทางอินเทอร์เน็ตและไปรษณีย์อิเล็กทรอนิกส์อาจจะถูกขัดขวาง ขาดการติดต่อ ล่าช้า
  จากความแออัดในการส่งข้อมูลทางอินเทอร์เน็ตหรือมีการส่งข้อมูลไม่ถูกต้องเนื่องจากลักษณะของอินเทอร์เน็ตที่อาจถูกเปิดเผยต่อสาธารณะได้
</div><br />
<div class="content_title">5.สิทธิของบริษัท</div>
<div class="content_p1">
  5.1	บริษัทมีสิทธิรวบรวมและประมวลผลข้อมูลของท่าน
  หากข้อมูลนั้นเป็นข้อมูลส่วนบุคคลบริษัทจะดำเนินการตามนโยบายการรักษาความลับส่วนบุคคล
</div>
<div class="content_p1">
  5.2	บริษัทมีสิทธิเปลี่ยนแปลงข้อมูลใดๆ บนเว็บไซต์ได้แต่เพียงผู้เดียว
  รวมถึงรายละเอียดของผลิตภัณฑ์และการบริการ ทั้งนี้
  คำตัดสินของบริษัทในเรื่องข้อมูลบนเว็บไซต์ถือเป็นที่สุด
</div>
<div class="content_p1">
  5.3	บริษัทอาจโอนสิทธิการใช้ข้อมูลต่างๆ ในเว็บไซต์นี้แก่บริษัทในเครือ
  บริษัทร่วมทุน หรือ พาร์ทเนอร์ (partner) ของบริษัท
  ภายใต้เงื่อนไขที่จะระบุในอนาคตและเป็นไปตามที่กฎหมายกำหนด
</div>
<div class="content_p1">
  5.4	บริษัทอาจทำการขอข้อมูลเกี่ยวกับท่าน ในกรณีที่ท่านสร้างบัญชีบนเว็บไซต์
  หรือการจัดเก็บข้อมูลของท่านบนเว็บไซต์ เช่น ชื่อ นามสกุล ที่อยู่ ไปรษณีย์อิเล็กทรอนิกส์ (E-mail)
  หมายเลขโทรศัพท์ วันเกิด ความสนใจด้านที่อยู่อาศัยในแง่ต่างๆ เป็นต้น
  และท่านตกลงให้ความยินยอมแก่บริษัทในการเก็บรวบรวมและประมวลผล
  ข้อมูลส่วนบุคคลของท่านในการใช้บริการเว็บไซต์ดังกล่าว
</div>
<div class="content_p1">
  5.5	ในกรณีที่มีการสร้างบัญชีบนเว็บไซต์ หรือการจัดเก็บข้อมูลของท่านบนเว็บไซต์
  บริษัทอาจส่งไปรษณีย์อิเล็กทรอนิกส์ (E-mail) หรือข้อความอิเล็กทรอนิกส์อื่นใด
  เกี่ยวกับผลิตภัณฑ์และบริการที่ท่านอาจสนใจไปยังท่านเป็นคราวๆ ไป
  โดยท่านตกลงและยินยอมรับไปรษณีย์อิเล็กทรอนิกส์ (Email) หรือข้อความอิเล็กทรอนิกส์อื่นใดนี้
  อย่างไรก็ตามท่านอาจใช้สิทธิปฏิเสธการรับไปรษณีย์อิเล็กทรอนิกส์ (Email)
  หรือข้อความอิเล็กทรอนิกส์ทั้งหมดตามช่องทางที่บริษัทได้จัดไว้ให้ ทั้งนี้
  หากท่านปฏิเสธที่จะรับไปรษณีย์อิเล็กทรอนิกส์ (Email) หรือข้อความอิเล็กทรอนิกส์ทั้งหมด
  ท่านรับทราบว่าท่านอาจไม่สามารถใช้บริการของบริษัทได้อย่างครบถ้วน
</div>
<div class="content_p1">
  5.6	ความเสียหายที่เกิดขึ้นแก่เว็บไซต์ บริษัท หรือกรรมการของบริษัท อันเนื่องมาจากท่าน
  บริษัทมีสิทธิเรียกร้องค่าเสียหายจากท่านได้ตามค่าใช้จ่าย และ/หรือค่าเสียหายที่เกิดขึ้นตามจริงไม่ว่าจะเพื่อแก้ไข
  ซ่อมแซม สร้างขึ้นใหม่ ชดเชย หรือกระทำการด้วยวิธีอื่นใดเพื่อชดเชยความเสียหายดังกล่าวของบริษัท
  ท่านต้องดำเนินการชดเชยค่าเสียหายให้ครบถ้วนภายในเวลาที่บริษัทกำหนด
  หากท่านผิดนัดไม่ชดเชยค่าเสียหายในเวลาที่กำหนด
  บริษัทมีสิทธิคิดดอกเบี้ยผิดนัดจากต้นเงิน ตามอัตราที่กฎหมายกำหนด
</div><br />
<div class="content_title">6.การจำกัดความรับผิด</div>
<div class="content_p1">
  6.1	บริษัทจะไม่รับผิดต่อความเสียหายใดๆ รวมถึง ความเสียหาย
  ความสูญเสียและค่าใช้จ่ายที่เกิดขึ้นไม่ว่าโดยตรงหรือโดยอ้อมหรือจากพฤติการณ์พิเศษใดๆ
  ที่เป็นผลหรือสืบเนื่องจากการที่ท่านเข้าใช้เว็บไซต์นี้ หรือเว็บไซต์ที่เชื่อมโยงกับเว็บไซต์นี้
  หรือต่อความเสียหาย ความสูญเสีย หรือค่าใช้จ่ายที่เกิดจากความล้มเหลวในการใช้งาน
  ความผิดพลาด การละเว้น การหยุดชะงัก ข้อบกพร่อง ความไม่สมบูรณ์ คอมพิวเตอร์ไวรัส
  ถึงแม้ว่าบริษัท จะได้รับแจ้งว่าอาจจะเกิดความเสียหาย ความสูญเสียหรือค่าใช้จ่ายดังกล่าวขึ้น
</div>
<div class="content_p1">
  6.2	บริษัทจะไม่รับผิดต่อท่านหรือบุคคลใดๆ จากการเรียกร้องที่เกิดขึ้นจากการใช้งานเว็บไซต์หรือเนื้อหาใดๆ
  บนเว็บไซต์ ซึ่งรวมถึงการตัดสินใจหรือการกระทำใดๆ ที่เกิดจากความเชื่อถือในเนื้อหาดังกล่าวของท่าน
  หรือในความเสียหายใดๆ ไม่ว่าความเสียหายทางตรงหรือทางอ้อมรวมถึงความเสียหายอื่นใดที่อาจเกิดขึ้นได้
</div>
<div class="content_p1">
  6.3	ท่านยอมรับและตระหนักดีว่าบริษัทจะไม่ต้องรับผิดชอบต่อการกระทำใดของท่านทั้งสิ้น
</div>
<div class="content_p1">
  6.4	บริษัทให้บริการภายใต้หลักเกณฑ์ “ตามที่เป็นอยู่” ดังนั้น
  ข้อมูลและ/หรือข้อสนเทศทั้งหลายที่อยู่ในเว็บไซต์นี้ถูกให้ไว้เพื่อใช้เป็นข้อมูลเท่านั้น
  บริษัทไม่มีการรับรองหรือรับประกันอย่างใดๆ ไม่ว่าโดยปริยาย
  ชัดแจ้งหรือโดยบทบัญญัติใดๆ นอกจากนี้ บริษัท ไม่รับประกัน: (ก) ความถูกต้อง
  หรือความครบถ้วนของข้อมูลทั้งหลายที่อยู่บนเว็บไซต์ (ข) ว่าเว็บไซต์ หรือเอกสารข้อมูลใดๆ
  จะปราศจากความผิดพลาดหรือตกหล่น หรือข้อชำรุดบกพร่องใดๆ (ค) ว่าเว็บไซต์ปราศจากไวรัสคอมพิวเตอร์หรือ
  รหัสที่ทำขึ้นด้วยเจตนาร้าย รหัสที่ทำให้เกิดการทำลาย หรือรหัสที่ทำให้เกิดการขัดข้อง
  โปรแกรมตัวแทน หรือกลุ่มคำสั่ง หรือมาโครอื่นใดที่เป็นอันตราย ก่อความเสียหาย
  หรือทำให้เกิดการขัดข้อง และ (ง) ความปลอดภัยในข้อมูลใดๆ ที่ส่งโดยท่านหรือไปยังท่านผ่านทางเว็บไซต์
</div><br />
<div class="content_title">7.	การแก้ไขเพิ่มเติม</div>
<div class="content_p1">
  บริษัทขอสงวนสิทธิในการแก้ไข เปลี่ยนแปลง เพิ่มเติม ตัดทอน บรรดาข้อกำหนดและเงื่อนไขการใช้บริการใดๆ
  ที่กำหนดไว้ในเว็บไซต์นี้ ทั้งนี้ ท่านมีหน้าที่ติดตามการแก้ไขเปลี่ยนแปลงต่างๆ อยู่เสมอ
  และหากภายหลังการแก้ไขเปลี่ยนแปลง ท่านยังคงใช้บริการเว็บไซต์อยู่ให้ถือว่าท่านได้อ่านและเข้าใจ
  จึงได้ยอมรับตามข้อกำหนดและเงื่อนไขการใช้บริการที่ได้มีการเปลี่ยนแปลงนี้ อย่างไม่มีเงื่อนไข
  ท่านไม่อาจอ้างเหตุในการไม่ทราบถึงการเปลี่ยนแปลงข้อกำหนดและเงื่อนการใช้บริการมาเป็นเหตุในการฝ่าฝืนข้อกำหนดและเงื่อนไขนี้ได้
</div><br />
<div class="content_title">8.กฎหมายที่ใช้บังคับ</div>
<div class="content_p1">
  การตีความ และการบังคับตามข้อกำหนดและเงื่อนไขการให้งานเว็บไซต์นี้ให้เป็นไปตามกฎหมายไทย
</div>
