<div class="content_header">นโยบายความเป็นส่วนตัว</div>
<div class="content_p1">
  <p>เรา บริษัท เอพี (ไทยแลนด์) จำกัด (มหาชน) และบริษัทในเครือ (รวมกันจะเรียกว่า “เอพี”) ถือปฏิบัติอย่างเคร่งครัดว่าเรื่องความเป็นส่วนตัวของลูกค้าเป็นเรื่องสำคัญ และเราจะจัดเก็บ บันทึก ยึดถือ เก็บรักษา เปิดเผย โอน หรือใช้ข้อมูลส่วนตัวของท่าน เมื่อท่านใช้บริการต่างๆของ เอพี และเมื่อท่านเข้าสู่ www.apthai.com ตามที่กำหนดไว้ด้านล่างนี้</p>
<p>การปกป้องรักษาข้อมูลเป็นเรื่องเกี่ยวกับความน่าเชื่อถือและความไว้วางใจ ความเป็นส่วนตัวของท่านถือเป็นเรื่องสำคัญของเรา เราจึงจะใช้ชื่อหรือข้อมูลอื่น ๆ ที่เกี่ยวข้องกับท่าน เพียงเฉพาะสำหรับกิจการที่ได้กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้เท่านั้น เราจะจัดเก็บข้อมูลเพียงเท่าที่จำเป็นสำหรับการดำเนินการดังกล่าว และเราจะจัดเก็บเพียงข้อมูลที่เกี่ยวข้องกับการติดต่อทางธุรกิจระหว่างท่านกับเราเท่านั้น</p>
</div>
<div class="content">
  <p>เราจะเก็บรักษาข้อมูลของท่านในระยะเวลาเพียงเท่าที่กฎหมายอนุญาตให้กระทำหรือในระยะเวลาเท่าที่จำเป็นสำหรับวัตถุประสงค์ของการจัดเก็บข้อมูลนั้น ๆ</p>
  <p>
    ท่านสามารถเข้าถึงหรือเยี่ยมชมแพลตฟอร์ม (Platform) (ตามความหมายที่ให้ไว้ในข้อตกลงการใช้บริการ) และเข้าหาข้อมูลในเวบไซต์ ของเอพี และเลือกชมสินค้าโดยไม่จำเป็นต้องให้ข้อมูลส่วนตัวใด ๆ ระหว่างที่ท่านเยี่ยมชมแพลตฟอร์มสถานะของท่านจะไม่เป็นที่เปิดเผย และเราจะไม่สามารถระบุตัวตนของท่านได้ตลอดเวลาที่ท่านเข้าเยี่ยมชมแพลตฟอร์มเว้นแต่ท่านจะได้มีบัญชีบนแพลตฟอร์มและท่านได้เข้าสู่ระบบโดยใช้ชื่อบัญชีและรหัสผ่าน
หากท่านมีความคิดเห็น คำแนะนำหรือคำติชม ท่านสามารถติดต่อเรา (และเจ้าหน้าที่คุ้มครองข้อมูล) โดยทางโทรศัพท์ เบอร์ 1623
  </p>
</div>
<div class="content_title">
  การจัดเก็บข้อมูลส่วนตัว
</div>
<div class="content">
  <p>เมื่อท่านสร้างบัญชีเอพี หรือให้ข้อมูลส่วนตัวของท่านผ่านทางแพลตฟอร์ม ข้อมูลที่เราจัดเก็บอาจรวมถึงข้อมูลต่าง ๆ เหล่านี้ของท่าน</p>
  <ul>
    <li>ชื่อ</li>
    <li>ถานที่อยู่อาศัยของท่าน รวมถึง  รหัสไปรษณีย์ </li>
    <li>อีเมล์ </li>
    <li>หมายเลขติดต่อ </li>
    <li>หมายเลขบัตรเครดิตกรณีใช้ซื้อสินค้า </li>
    <li>หมายเลขโทรศัพท์เคลื่อนที่ </li>
    <li>วันเดือนปีเกิด </li>
    <li>เพศ
    </li>
  </ul>
  <p>
    ท่านจะต้องจัดส่งข้อมูลให้แก่เรา ตัวแทนผู้รับมอบอำนาจของเรา หรือจัดส่งเข้าสู่แพลตฟอร์มเท่านั้น และข้อมูลดังกล่าวจะต้องเป็นข้อมูลที่ ถูกต้องแท้จริง ครบถ้วน และไม่ทำให้เกิดความเข้าใจผิดใด ๆ ท่านจะต้องอัพเดทข้อมูลของท่านให้เป็นปัจจุบัน และแจ้งให้เราทราบเกี่ยวกับการเปลี่ยนแปลงข้อมูลต่าง ๆ (รายละเอียดตามที่จะได้กล่าวข้างล่าง) เราสงวนสิทธิที่จะร้องขอเอกสารเพิ่มเติมเพื่อตรวจสอบยืนยันว่าข้อมูลที่ท่านให้มานั้นถูกต้อง
  </p>
  <p>
    เราจะสามารถจัดเก็บข้อมูลส่วนตัวของท่านหากท่านส่งมอบข้อมูลให้เราด้วยความสมัครใจของท่านเท่านั้น หากท่านเลือกจะไม่ส่งข้อมูลส่วนตัวของท่านให้แก่เราหรือเลือกที่จะเพิกถอนความยินยอมในการใช้ข้อมูลส่วนตัวของท่าน เราอาจไม่สามารถให้บริการของเราแก่ท่านได้ ท่านอาจจะต้องเข้าถึงและปรับเปลี่ยนข้อมูลส่วนตัวของท่านที่ท่านได้ส่งมอบให้เราได้ตลอดเวลาตามที่ได้กำหนดไว้ด้านล่างนี้
  </p>
  <p>หากท่านได้ส่งมอบข้อมูลของบุคคลภายนอกให้แก่เรา เราจะถือว่าท่านได้รับความยินยอมหรือได้รับอนุญาตจากบุคคลภายนอกผู้เกี่ยวข้องที่จะเปิดเผยและส่งมอบข้อมูลส่วนตัวนั้น ๆ แก่เรา</p>
  <p>หากท่านสมัครเพื่อใช้งานเอพีโดยผ่านทางบัญชีโซเชียลมิเดีย (Social Media) หรือเชื่อมต่อบัญชีเอพีกับบัญชีโซเชียลมิเดียของท่าน หรือใช้บริการอื่น ๆ ของเอพี เราอาจเข้าถึงข้อมูลเกี่ยวกับท่านที่ท่านได้ให้ไว้โดยสมัครใจกับบัญชีโซเชียลมิเดียของท่านผ่านทางผู้ให้บริการโซเชียลมิเดียรายนั้น ๆ ภายใต้นโยบายต่าง ๆ ของผู้ให้บริการ เราจะจัดการข้อมูลส่วนตัวของท่านที่ได้รับมาดังกล่าวตามนโยบายความเป็นส่วนตัวของเอพี</p>
</div>
<div class="content_title">
  การใช้และการเปิดเผยข้อมูลส่วนตัว
</div>
<div class="content">
  <p>เราจะใช้ข้อมูลส่วนที่เราได้รับจากท่านหรือส่งต่อแก่บุคคลภายนอก  (รวมถึงบริษัทที่เกี่ยวข้อง ผู้ให้บริการภายนอก ผู้ขายที่เป็นบุคคลภายนอก)  เพื่อประโยชน์ของกิจการทั้งหมดหรือแต่บางส่วนดังจะได้กล่าวต่อไปนี้ <br />
    เพื่อดำเนินการหรือสนับสนุนการใช้บริการ  (Services) (ตามความหมายที่ได้ให้ไว้ในข้อตกลงการใช้บริการ)  และ/หรือการใช้แพลตฟอร์ม<br />
    <br />
    เพื่อดำเนินการตามคำสั่งซื้อของท่านที่ส่งผ่านทางแพลตฟอร์ม  ไม่ว่าจะเป็นการขายสินค้าโดยเอพีหรือผู้ขายที่เป็นบุคคลภายนอก  การจ่ายเงินของท่านผ่านทางแพลตฟอร์มสำหรับสินค้า ไม่ว่าจะขายโดยเอพีหรือผู้ขายที่เป็นบุคคลภายนอกจะถูกจัดการโดยตัวแทนของเรา <br />
    <br />
    เพื่อแจ้งให้ท่านทราบเกี่ยวกับสินค้าและ  สถานะการซื้อสินค้า ไม่ว่าจะขายผ่านแพลตฟอร์มโดยเอพีหรือผู้ขายที่เป็นบุคคลภายนอก  และเพื่อการบริการลูกค้าอื่น ๆ <br />
    เพื่อเปรียบเทียบข้อมูลและตรวจสอบกับบุคคลภายนอกเพื่อรับรองความถูกต้องของข้อมูล <br />
    ใช้ข้อมูลที่ท่านได้ส่งมอบให้เพื่อจัดการบัญชีการใช้งานของท่านที่ท่านมีกับเรา  (ถ้ามี)  เพื่อตรวจสอบและจัดการการธุรกรรมทางการเงินอันเกี่ยวกับการจ่ายเงินที่ท่านได้จัดทำขึ้นทางอินเตอร์เน็ตหรือออนไลน์  เพื่อตรวจสอบการดาวน์โหลดข้อมูลจากแพลตฟอร์ม เพื่อพัฒนาแผนผัง  การจัดหน้าและเนื้อหาของหน้าต่าง ๆ ของแพลตฟอร์มและปรับแต่งสำหรับผู้ใช้  เพื่อระบุตัวตนผู้เข้าใช้ เพื่อการวิเคราะห์สถิติและพฤติกรรมของผู้ใช้  เพื่อจัดส่งข้อมูลที่เราคาดว่าท่านว่ามีประโยชน์สำหรับท่านหรือที่ท่านได้ร้องขอจากเราให้แก่ท่าน  รวมถึงข้อมูลเกี่ยวกับสินค้าและบริการของเราและของผู้ขายที่เป็นบุคคลภายนอก  เว้นแต่ท่านจะได้ปฎิเสธการติดต่อเพื่อวัตถุประสงค์ดังกล่าว <br />
    <br />
    เมื่อท่านได้สมัครเพื่อเปิดบัญชีการใช้บริการกับเอพีหรือได้ส่งมอบข้อมูลส่วนตัวของท่านผ่านทางแพลตฟอร์ม  เราใช้ข้อมูลส่วนตัวของท่านเพื่อส่งข่าวสารทางการตลาดและโปรโมชั่นต่าง ๆ  เกี่ยวกับสินค้าหรือบริการของเราหรือของผู้ขายที่เป็นบุคคลภายนอกเป็นครั้งคราว  ท่านสามารถยกเลิกการรับข้อมูลการตลาดได้ตลอดเวลา  โดยการใช้ระบบการยกเลิกการรับข้อมูลที่อยู่ในข้อมูลทางการตลาดที่จัดส่งให้ เราอาจใช้ข้อมูลการติดต่อของท่านเพื่อส่งเอกสารข่าวสารจากเราหรือจากบริษัทที่เกี่ยวข้องของเรา  และ <br />
    ในกรณีที่เป็นข้อยกเว้นและเอพีถูกขอให้เปิดเผยข้อมูลส่วนตัว  เช่นในกรณีที่มีมูลให้เชื่อว่าการเปิดเผยดังกล่าวอาจป้องกันการข่มขู่ต่อชีวิตหรือร่างกาย  สำหรับวัตถุประสงค์ในการบังคับใช้กฎหมาย หรือการปฏิบัติตามกฎหมาย ระเบียบ  ข้อบังคับหรือการร้องขออื่นใด <br />
    <br />
    เอพีอาจส่งมอบข้อมูลส่วนตัวของท่านให้แก่บุคคลภายนอกหรือบริษัทในเครือของเราสำหรับวัตถุประสงค์ดังกล่าวมาข้างต้น  โดยเฉพาะอย่างยิ่งเพื่อดำเนินธุรกรรมต่าง ๆ กับท่านให้สำเร็จ จัดการบัญชีการใช้บริการของท่าน  จัดการความสัมพันธ์อื่น ๆ กับท่าน การตลาด การปฏิบัติตามกฎหมาย ระเบียบข้อบังคับ  การร้องขออื่นๆ ที่เอพีเห็นว่าจำเป็น ในการแบ่งปันข้อมูลให้แก่บุคคลดังกล่าว  เอพีจะพยายามอย่างถึงที่สุดเพื่อรับรองว่าบุคคลภายนอกและบริษัทในเครือของเราจะรักษาและปกป้องข้อมูลส่วนตัวของท่านจากการเข้าถึง  การจัดเก็บ การใช้ การเปิดเผย โดยไม่ได้รับอนุญาต หรือความเสี่ยงอื่น ๆ  ในลักษณะเดียวกัน  และจะต้องเก็บข้อมูลส่วนตัวของท่านในระยะเวลาเท่าที่จำเป็นสำหรับกิจการที่ได้กล่าวไว้ด้านบนนี้เท่านั้น <br />
    เอพีไม่เคยและไม่ได้ทำธุรกิจในการค้าข้อมูลส่วนตัวของลูกค้าแก่บุคคลภายนอก </p>
</div>
<div class="content_title">
  การเพิกถอนความยินยอม
</div>
<div class="content">
  <p>ท่านอาจส่งคำคัดค้านการใช้หรือการเปิดเผยข้อมูลส่วนตัวของท่านสำหรับกิจการต่าง  ๆ
    หรือเพื่อวัตถุประสงค์ที่ระบุไว้ด้านบน แก่เราได้ตลอดเวลา  โดยติดต่อเราผ่านทางอีเมล์ที่ระบุไว้ด้านล่างนี้
    โปรดทราบว่าหากท่านได้ส่งคำคัดค้านการใช้หรือการเปิดเผยข้อมูลส่วนตัวของท่านสำหรับกิจการต่าง  ๆ
    หรือเพื่อวัตถุประสงค์ที่ระบุไว้ด้านบน ขึ้นอยู่กับพฤติการณ์ของคำคัดค้าน  เราอาจไม่อยู่ในสถานะที่จะจัดส่งสินค้าหรือบริการให้แก่ท่านหรือปฏิบัติตามสัญญาต่อท่านได้
    เราขอสงวนสิทธิทางกฎหมายและการเยียวยาไว้โดยชัดแจ้งในกรณีซึ่งเราไม่สามารถจัดส่งสินค้าหรือบริการให้แก่ท่านหรือตามปฏิบัติตามสัญญาต่อท่านได้อันเกิดจากคำคัดค้านดังกล่าว </p>
</div>
<div class="content_title">
  การอัพเดทหรือปรับเปลี่ยนข้อมูลส่วนตัวของท่าน
</div>
<div class="content">
  <p>ท่านสามารถอัพเดทหรือปรับเปลี่ยนข้อมูลส่วนตัวของท่านได้ตลอดเวลาโดยการเข้าสู่บัญชีการใช้บริการของท่านบนแพลตฟอร์มของเอพี  หากท่านไม่มีบัญชีการใช้บริการกับเราท่านอาจทำการอัพเดทหรือปรับเปลี่ยนข้อมูลส่วนตัวได้โดยการติดต่อเราผ่านทางอีเมล์ที่เราได้ให้ไว้ <br />
    เราจะดำเนินการส่งข้อมูลส่วนตัวที่ได้รับการปรับเปลี่ยนแล้วแก่บริษัทในเครือที่เราได้แบ่งปันข้อมูลส่วนตัวของท่าน  หากข้อมูลส่วนตัวของท่านยังคงจำเป็นต่อกิจการที่กล่าวไว้ข้างบน </p>
</div>
<div class="content_title">
  ความปลอดภัยของข้อมูลส่วนตัวของท่าน
</div>
<div class="content">
  <p>เอพีรับรองว่าข้อมูลที่จัดเก็บทั้งหมดจะถูกจัดเก็บอย่างปลอดภัย  เราป้องกันข้อมูลส่วนตัวของท่านโดย</p>
    <ul>
      <li>จำกัดการเข้าถึงข้อมูลส่วนตัว</li>
      <li>จัดให้มีวิธีการทางเทคโนโลยีเพื่อป้องกันไม่ให้มีการเข้าสู่ระบบคอมพิวเตอร์ที่ไม่ได้รับอนุญาต</li>
      <li>จัดการทำลายข้อมูลส่วนตัวของท่านเพื่อความปลอดภัยเมื่อข้อมูลดังกล่าวไม่จำเป็นสำหรับวัตถุประสงค์ทางกฎหมายและธุรกิจอีกต่อไป </li>
    </ul>
    <p>หากท่านมีเหตุให้เชื่อว่าความเป็นส่วนตัวของท่านได้ถูกละเมิดโดยเอพี  กรุณาติดต่อเราผ่านทางอีเมล์ที่ระบุไว้ข้างล่างนี้ <br />
    รหัสผ่านของท่านเป็นกุญแจสำหรับบัญชีการใช้บริการของท่าน  กรุณาใช้ตัวเลข ตัวอักษรหรือสัญลักษณ์ที่แตกต่างกัน  และไม่แบ่งปันรหัสผ่านเอพีแก่ผู้อื่น หากท่านได้แบ่งปันรหัสผ่านแก่ผู้อื่น  ท่านจะรับผิดชอบต่อการกระทำต่าง ๆ  ที่ได้กระทำลงในนามหรือผ่านทางบัญชีการใช้บริการของท่านและผลที่ตามมา  หากท่านไม่สามารถควบคุมรหัสผ่านของท่านได้ ท่านอาจไม่สามารถควบคุมข้อมูลส่วนตัวของท่านหรือข้อมูลอื่น  ๆ ที่ส่งให้แก่เอพี ท่านอาจต้องยอมรับนิติกรรมใด ๆ ที่ทำลงในนามของท่าน  ดังนั้นหากรหัสผ่านของท่านถูกเปิดเผยหรือไม่เป็นความลับอีกต่อไปไม่ว่าด้วยเหตุผลใด  ๆ หรือท่านมีเหตุที่อาจเชื่อได้ว่ารหัสผ่านนั้นถูกเปิดเผยหรือไม่เป็นความลับอีกต่อไป  ท่านควรที่จะติดต่อเราและเปลี่ยนรหัสผ่านของท่าน  เราขอเตือนให้ท่านออกจากระบบบัญชีการใช้บริการ (log off) และปิดบราวเซอร์  (Browser) ทุกครั้งที่ท่านใช้คอมพิวเตอร์สาธารณะ<br />
    <br />
    เอพีหรือผู้ให้บริการที่ได้รับอนุญาตอาจจะใช้  โปรแกรมคุกกี้ (cookies) เวปบีคอน (web beacons) หรือโปรแกรมอื่น ใด ที่คล้ายคลึงกันเพื่อจัดเก็บข้อมูล และช่วยให้เราสามารถจัดให้มีระดับการบริการที่ดีขึ้น  รวดเร็วขึ้น ปลอดภัยขึ้น และเพื่อความเป็นส่วนตัวของท่าน เมื่อท่านเข้าใช้บริการ  และ/หรือเข้าสู่แพลตฟอร์ม<br />
    เมื่อท่านเข้าเยี่ยมชมเอพี เซิร์ฟเวอร์ (Servers)  ของบริษัท เราจะทำการจดจำและบันทึกข้อมูลที่บราวเซอร์ของท่านส่งเข้ามาโดยอัตโนมัติเมื่อท่านเข้าเว็ปไซต์ของเรา  ข้อมูลเหล่านี้อาจหมายรวมถึง</p>
    <ul>
      <li>ที่อยู่ ไอพี แอดเดรส (IP address) ของคอมพิวเตอร์ของท่าน
        ชนิดของบราวเซอร์ของท่าน</li>
      <li>หน้าเว็ปไซต์ที่ท่านเข้าถึงก่อนที่ท่านจะเข้าสู่แพลตฟอร์ม
        หน้าเว็ปไซต์ที่ท่านเข้าชมในแพลตฟอร์ม</li>
      <li>จำนวนเวลาที่ท่านใช้ในการชมหน้าเว็ปไซต์ดังกล่าว  สินค้าหรือข้อมูลที่ท่านค้นหาในแพลตฟอร์ม</li>
      <li>เวลาเข้าชมวันที่ และข้อมูลทางสถิติอื่นๆ</li>
    </ul>
    <p>ข้อมูลต่าง ๆ เหล่านี้ จะถูกจัดเก็บเพื่อการวิเคราะห์และประเมินเพื่อช่วยให้เราพัฒนาแพลตฟอร์ม  การบริการและสินค้าที่เราจัดหาให้ดีขึ้น <br />
    โปรแกรมคุกกี้ (cookies)  เป็นข้อมูลไฟล์ตัวอักษรขนาดเล็ก (โดยปกติจะมีเพียงตัวอักษรและตัวเลข)  ที่จัดวางไว้บนหน่วยความจำของบราวเซอร์ของท่านหรือบนอุปกรณ์ของท่านเมื่อท่านเข้าชมเว็ปไซต์หรือเรียกดูข้อความ  โปรแกรมนี้ช่วยให้เราจดจำอุปกรณ์หรือบราวเซอร์โดยจำเพาะได้  และช่วยให้เราสามารถจัดทำเนื้อหาให้เหมาะสมกับความสนใจส่วนบุคคลของท่านได้รวดเร็วขึ้น  และช่วยให้การบริการและแพลตฟอร์มสะดวกสบายและเป็นประโยชน์ต่อท่านมากขึ้น<br />
    ท่านอาจจัดการและลบโปรแกรมคุกกี้ (COOKIES)  ผ่านทางเบราว์เซอร์หรือการตั้งค่าอุปกรณ์ของท่าน  สำหรับข้อมูลเพิ่มเติมเกี่ยวกับวิธีการดังกล่าวโปรดไปที่เนื้อหาวิธีการช่วยเหลือของเบราเซอร์หรืออุปกรณ์ของท่าน<br />
    โปรแกรมเวปบีคอน (web beacons) เป็นรูปภาพกราฟฟิคขนาดเล็กที่อาจรวมอยู่ในการบริการหรือบนแพลตฟอร์ม  โปรแกรมนี้ช่วยให้เรานับจำนวนผู้ใช้ที่ได้เข้าชมหน้าเวปไซต์ต่าง ๆ  เพื่อให้เราได้เข้าใจความต้องการและความสนใจของท่านมากขึ้น</p>
</div>
<div class="content_title">
  ไม่มีข้อมูลขยะสแปม สปายแวร์ ไวรัส
</div>
<div class="content">
  <p>
    ข้อมูลขยะ (Spam) สปายแวร์ (Spyware) หรือ ไวรัส (Virus) นั้นไม่ได้รับอนุญาตบนแพลตฟอร์ม
    กรุณาตั้งค่าและสมัครใจ (Preference) ในการติดต่อสื่อสารเพื่อที่เราจะได้ส่งข้อมูลการติดต่อสื่อสารตามที่ท่านต้องการ
    ท่านไม่ได้รับอนุญาตหรือยอมรับให้เพิ่มผู้ใช้รายอื่น (ไม่ว่าจะเป็นผู้ใช้ที่เคยซื้อสินค้าจากท่าน) เข้าสู่รายชื่อผู้รับของท่าน
    (ไม่ว่าอีเมล์หรือจดหมาย) เว้นแต่จะได้รับอนุญาตโดยชัดแจ้ง ท่านจะไม่ส่งข้อความใด ๆ ที่มี ข้อมูลขยะ สปายแวร์ หรือไวรัส ผ่านทางแพลตฟอร์ม หากท่านต้องการรายงานข้อความที่น่าสงสัยให้เราทราบ กรุณาติดต่อผ่านทางอีเมล์ ที่ระบุด้านล่างนี้
  </p>
</div>
<div class="content_title">
  การเปลี่ยนแปลงนโยบายความเป็นส่วนตัว
</div>
<div class="content">
  <p>
    เอพีจะตรวจสอบประสิทธิภาพของนโยบายความเป็นส่วนตัวเป็นประจำ เราขอสงวนสิทธิในการเปลี่ยนแปลงนโยบายความเป็นส่วนได้ตลอดเวลา
    การเปลี่ยนแปลงนโยบายดังกล่าวจะถูกประกาศหรือเผยแพร่ไว้ในแพลตฟอร์ม
  </p>
</div>
<div class="content_title">
  สิทธิของเอพี
</div>
<div class="content">
  <p>ท่านรับทราบและตกลงว่า อนุญาตให้เอพีมีสิทธิในการเข้าถึงและเปิดเผยข้อมูลส่วนตัวแก่หน่วยงานผู้มีอำนาจทางกฎหมาย
    หน่วยงานการกำกับควบคุมดูแล หน่วยงานของรัฐ หน่วยงานเกี่ยวกับภาษี  หน่วยงานในการบังคับใช้กฎหมาย และหน่วยงานอื่น ๆ ที่เกี่ยวข้อง
    หรือเจ้าของสิทธิต่าง ๆ ที่เกี่ยวข้อง หากเอพีมีเหตุอันควรเชื่อได้ว่าการเปิดเผยข้อมูลส่วนตัวของท่านนั้นจำเป็นสำหรับการปฏิบัติตามหน้าที่
    ความรับผิดขอบ การจัดการและข้อตกลง ไม่ว่าโดยสมัครใจหรือการบังคับ  เพื่อวัตถุประสงค์ในการให้ความร่วมมือกับคำสั่ง การสอบสวน
    และ/หรือการร้องขอในรูปแบบต่าง ๆ ของหน่วยงานนั้น ๆ ภายใต้การบังคับของกฎหมายที่เกี่ยวข้อง  ท่านตกลงว่าจะไม่ฟ้องร้องดำเนินคดีหรือดำเนินการใด ๆ ต่อเอพี  และสละสิทธิเรียกร้องหรือสิทธิอื่นใดอันมีต่อ เอพี  ที่อาจเกิดขึ้นจากการเปิดเผยข้อมูลส่วนตัวของท่านภายใต้สถานการณ์ดังกล่าวข้างต้น </p>
</div>
<div class="content_title">
  การติดต่อเอพี
</div>
<div class="content">
  <p>
    หากท่านต้องการระงับการใช้ เปิดเผย หรือเพิกถอนความยินยอมในการให้ข้อมูลส่วนตัวของท่าน
    รวมทั้งหากต้องการขอเรียกดูข้อมูลและ/หรือข้อมูลส่วนตัว มีคำถาม ความคิดเห็น ข้อกังวล
    หรือขอความช่วยเหลือทางด้านเทคนิค หรือเกี่ยวกับโปรแกรมคุกกี้ (cookies) กรุณาติดต่อเราเจ้าหน้าที่ฝ่ายคุ้มครองข้อมูลส่วนบุคคล
    (Data Protection Officer) โทรศัพท์ 1623
  </p>
</div>
<div class="content_title">
  A. การเก็บรวบรวมข้อมูลส่วนตัว
</div>
<div class="content">
  <p>เราอาจขอข้อมูลส่วนตัวของท่านจากแหล่งต่างๆ  (เช่น จากท่านหรือจากบุคคลภายนอก) ซึ่งรวมทั้ง</p>
    <ol>
      <li>ข้อมูลที่ได้มา (โดยทางตรงหรือโดยทางอ้อม)  เมื่อท่านลงทะเบียนเป็นผู้ใช้บัญชีชำระเงินสำหรับเอพี ซึ่งได้แก่ ชื่อ ที่อยู่  หมายเลขโทรศัพท์ ที่อยู่อีเมล และข้อมูลของอุปกรณ์ (รวมเรียกว่า  &quot;ข้อมูลการลงทะเบียน&quot;)      </li>
      <li>ข้อมูลที่ได้มา (โดยทางตรงหรือโดยทางอ้อม)  ในระหว่างการใช้งานบัญชีชำระเงินสำหรับเอพีของท่าน ซึ่งได้แก่หมายเลขบัญชีธนาคาร  ข้อมูลการจัดส่งสินค้าและการวางบิล ที่อยู่ในการจัดส่งบิล ข้อมูลการทำธุรกรรม  หมายเลขบัตรเครดิต/เดบิต และวันที่หมดอายุ และข้อมูลอื่นๆ จากธนาณัติหรือเช็ค  (เรียกรวมว่า &quot;ข้อมูลบัญชี&quot;) </li>
      <li>ข้อมูลการลงทะเบียน ข้อมูลทางบัญชี  หรือข้อมูลอื่นๆ อาจสามารถเข้าถึงหรือเก็บรวบรวมได้ (โดยอัตโนมัติหรือโดยไม่อัตโนมัติ)  ในระหว่างการลงทะเบียนเป็นผู้ใช้งานบัญชีชำระเงินสำหรับเอพ
    และ/หรือในระหว่างการเข้าใช้งานในบัญชีชำระเงินสำหรับเอพีของท่าน</li></ol>
    <p>ข้อมูลข้างต้นที่เราได้มาสามารถนำมาประกอบกันเป็นข้อมูลส่วนตัวของท่าน  เราดำเนินการตามขั้นตอนเพื่อตรวจสอบให้แน่ใจว่าเราจะไม่เก็บรวบรวมข้อมูลจากท่านเพิ่มเติม  (ไม่ว่าข้อมูลนั้นจะประกอบกันเป็นข้อมูลส่วนตัวหรือไม่ก็ตาม)  จนเกินความจำเป็นสำหรับเราที่จะมอบการบริการของเราให้แก่ท่าน หรือในการดำเนินการตามที่ระบุในส่วน  B ของประกาศฉบับนี้ เพื่อเป็นการปกป้องบัญชีของท่าน  ปฏิบัติตามข้อผูกพันทางกฎหมายของเรา ปกป้องสิทธิตามกฎหมายของเรา  และดำเนินธุรกิจของเรา</p>
</div>
<div class="content_title">
  B. การใช้ข้อมูลส่วนตัว
</div>
<div class="content">
  <p>เราสามารถใช้ข้อมูลส่วนตัวเกี่ยวกับท่านที่เราได้มาเพื่อจุดประสงค์ดังต่อไปนี้ </p>
<ol>
  <li>ตรวจสอบยืนยันตัวตนของท่าน  รวมทั้งในระหว่างการลงทะเบียนเป็นผู้ใช้งานบัญชีชำระเงินสำหรับเอพีของท่าน </li>
  <li>ตรวจสอบยืนยันความเหมาะสมของคุณสมบัติของคุณในการลงทะเบียนเป็นผู้ใช้งานบัญชีชำระเงินสำหรับเอพี  หรือเพื่อใช้งานฟีเจอร์ และฟังก์ชั่นใดๆ ของบัญชีชำระเงินสำหรับเอพีนี้ </li>
  <li>การดำเนินการเพื่อลงทะเบียนเพื่อเป็นผู้ใช้งาน  การอนุญาตให้ท่านสามารถเข้าสู่ระบบด้วยการใช้ ID (บัญขีสำหรับการลงทะเบียนและเข้าใช้บริการ)  เพื่อการเข้าระบบของเอพี และการคงรักษาและจัดการการลงทะเบียนของท่าน</li>
  <li>การมอบบัญชีเพื่อชำระเงินสำหรับเอพีและการบริการลูกค้าที่เกี่ยวข้องให้แก่ท่าน  รวมทั้งการอำนวยความสะดวกในการชำระบัญชีตามราคาซื้อสินค้าและบริการต่างๆ การบริการที่เกี่ยวข้องเพื่อทำการซื้อ  การส่งหนังสือแจ้งเกี่ยวกับการทำธุรกรรมของท่าน และการตอบคำถามหรือข้อสงสัยของท่าน  คำติชม ข้อเรียกร้อง หรือข้อพิพาทต่างๆ </li>
  <li>การปรับปรุงและขยายการบริการของเราด้วยวิธีการวิจัยและพัฒนาฟังก์ชั่นใหม่ๆ  ของบัญชีชำระเงินสำหรับเอพีของท่าน หรือการใช้ผลิตภัณฑ์และบริการใหม่ๆ  ที่เราจะสามารถเสนอขายได้เป็นครั้งคราว </li>
  <li>ดำเนินการทำการวิจัย การวิเคราะห์เชิงสถิติ  หรือการสำรวจต่างๆ ไม่ว่าโดยปากเปล่าหรือเป็นลายลักษณ์อักษร  เพื่อที่จะจัดการและปกป้องธุรกิจของเรา  รวมทั้งโครงสร้างพื้นฐานด้านเทคโนโลยีสารสนเทศของเรา  เพื่อวัดประเมินผลการดำเนินงานของบัญชีชำระเงินสำหรับเอพี และการบริการอื่นๆ  ที่เรามอบให้ และเพื่อตรวจสอบให้แน่ใจว่าท่านรู้สึกพึงพอใจในการบริการของเรา </li>
  <li>การวิเคราะห์แนวโน้มต่างๆ  การใช้งานและพฤติกรรมอื่นๆ (ไม่ว่าจะเป็นแบบแยกเป็นรายบุคคลหรือแบบรวม) ซึ่งช่วยให้เราเข้าใจวิธีที่ท่านและฐานผู้ใช้งานโดยรวมของเราเข้าถึงและใช้งานบัญชีชำระเงินสำหรับเอพี  และกิจกรรมเชิงพาณิชย์ที่สำคัญที่ดำเนินการ  รวมทั้งเพื่อจุดประสงค์ในการพัฒนาปรับปรุงการบริการของเราให้ดีขึ้น และตอบข้อสงสัย  และตอบสนองกับรสนิยมของลูกค้า </li>
  <li>การจัดการความเสี่ยง การประเมิน ตรวจสอบ เพื่อป้องกันไม่ให้เกิดขึ้น  และ/หรือการแก้ไขเยียวยาการฉ้อโกง  หรือการกระทำที่ผิดกฎหมายหรือการกระทำต้องห้ามที่เป็นไปได้อื่นๆ  และอีกนัยหนึ่งคือเพื่อทำการปกป้องความสมบูรณ์ของแพลตฟอร์มของเรา </li>
  <li>การตรวจหา ตรวจสอบ ป้องกันไม่ให้เกิดขึ้น  หรือการแก้ไขเยียวยาการละเมิดเงื่อนไขและข้อตกลง นโยบายภายในที่เกี่ยวข้องใดๆ  มาตรฐานด้านอุตสาหกรรม แนวทาง กฎหมายหรือกฎข้อบังคับที่เกี่ยวข้อง </li>
  <li>การเปิดเผยข้อมูลนี้  ตามที่กฎหมายหรือกฎข้อบังคับของประเทศใดก็ตามสามารถกำหนดให้เราหรือบริษัทในเครือของเราต้องกระทำ  ตามคำสั่งของเจ้าหน้าที่รัฐหรือกลุ่มบุคคลภายนอก  รวมทั้งบริษัทผู้ให้บริการบัตรหรือเครือข่ายการชำระเงินอื่นๆ  การเปิดเผยข้อมูลนี้ยังสามารถทำขึ้นโดยเป็นไปตามหมายศาล คำสั่งศาล  การร้องขอตามกฎหมาย หรือข้อกำหนดหรือกระบวนการทางกฎหมายอื่นๆ ในประเทศใดๆ  ที่สามารถใช้ปฏิบัติกับเราหรือบริษัทในเครือของเราได้ </li>
  <li>การทำการเปิดเผยข้อมูลเพื่อป้องกันไม่ให้เกิดอันตรายหรือการสูญเสียทางการเงิน  เพื่อรายงานเกี่ยวกับการกระทำที่ต้องสงสัยว่าผิดกฎหมายใดๆ  หรือเพื่อจัดการกับข้อเรียกร้องค่าเสียหายใดๆ  หรือการเรียกร้องค่าเสียหายที่อาจเกิดขึ้นได้กับเราหรือบริษัทในเครือของเรา </li>
  <li>จุดประสงค์ทางธุรกิจที่ชอบด้วยกฎหมายอื่นใด  เช่นการปกป้องท่านและผู้ใช้งานอื่นสำหรับบัญชีชำระเงินของเอพีจากการสูญเสีย  การปกป้อง การรักษาความปลอดภัยของระบบและผลิตภัณฑ์ของเรา และการปกป้องสิทธิ์และ/หรือทรัพย์สินอื่นใดของเรา </li>
</ol>
<p>และเรายังสามารถใช้ข้อมูลส่วนตัวของคุณในรูปแบบอื่นๆ  ซึ่งเราจะส่งหนังสือแจ้งเป็นการเฉพาะให้ในเวลาที่ทำการรวบรวมหรือตามที่คุณจะให้ความยินยอมในเวลาต่อมา </p>
</div>
<div class="content_title">
  C. การเปิดเผยข้อมูลส่วนตัว
</div>
<div class="content">
  <p>ข้อมูลส่วนตัวของท่านที่เอพีเก็บรักษาไว้จะถูกเก็บไว้เป็นความลับ  แต่อย่างไรก็ตามเอพีสามารถส่งหรือมอบข้อมูลนั้นให้แก่กลุ่มต่างๆ  ไม่ว่าภายในหรือภายนอกประเทศที่อยู่อาศัยของท่าน)  เพื่อจุดประสงค์ตามที่ระบุไว้ในข้อ B ข้างต้น:</p>
  <ol>
    <li>บริษัทที่เอพีเป็นเจ้าของบางส่วนหรือทั้งหมด </li>
    <li>เอพีและบริษัทอื่นๆ ในเครือของกลุ่มบริษัทเอพี </li>
    <li>ตัวแทน  ผู้รับเหมาหรือผู้ให้บริการภายนอกที่เราทำงานร่วมกันเพื่อให้บริการของเราแก่ท่าน  ซึ่งรวมทั้งการป้องกันการฉ้อโกง การเก็บรวบรวมบิล การป้อนข้อมูล  การบริหารจัดการฐานข้อมูล การส่งเสริมการขาย การทำการตลาด การบริการลูกค้า  บริการเทคโนโลยี การแจ้งเตือนเมื่อมีผลิตภัณฑ์หรือการบริการต่างๆ  และบริการขยายเวลาการชำระเงิน </li>
    <li>องค์กรที่เอพียังคงการแนะนำบอกต่อธุรกิจหรือทำข้อตกลงทางการค้าอื่นๆ  ต่อไป รวมทั้งกลุ่มบุคคลภายนอกและองค์กรที่เป็นของกลุ่มบริษัทเอพี </li>
    <li>ผู้ค้าและองค์กรอื่นๆ เช่นบริษัทให้บริการบัตร  เครือข่ายการชำระเงิน หรือสถาบันทางการเงิน  ที่ชำระเงินให้หรือทำการชำระเงินผ่านทางผู้ค้าและองค์กรเหล่านี้  ด้วยการใช้บัญชีชำระเงินสำหรับเอพี หรือองค์กรเหล่านั้นอื่นๆ เพื่อทำให้ท่านสามารถใช้งานบัญชีชำระเงินสำหรับเอพีได้ </li>
    <li>องค์กรสินเชื่อและตัวแทนการเรียกเก็บเงิน ธนาคาร  สถาบันทางการเงินที่เป็นกลุ่มบุคคลภายนอก </li>
    <li>ที่ปรึกษามืออาชีพ องค์กรบังคับใช้กฎหมาย  ผู้รับประกัน รัฐบาลและเจ้าหน้าที่ที่มีอำนาจควบคุม  หรือองค์กรอื่นใดที่เอพีอยู่ภายใต้ข้อผูกมัดให้ทำการเปิดเผยข้อมูลภายใต้ข้อกำหนดของกฎหมาย  กฎระเบียบหรือข้อตกลงเชิงพาณิชย์ที่เกี่ยวข้อง  ซึ่งรวมทั้งการทำข้อตกลงกับบริษัทบัตรหรือเครือข่ายการชำระเงิน </li>
  </ol>
</div>
<div class="content_title">
  D. มาตรการในการรักษาความปลอดภัยและการเก็บรักษา
</div>
<div class="content">
  <p>เราดำเนินการตามขั้นตอนที่เหมาะสมทุกประการ  รวมทั้งการดูแลปกป้องด้านกายภาพ การบริหารจัดการ และทางด้านเทคนิค  เพื่อช่วยปกป้องข้อมูลส่วนบุคคลของคุณ จากการสูญเสีย การนำไปใช้ในทางที่ผิด  และการเข้าถึง การเปิดเผย การเปลี่ยนแปลงและการทำลายทิ้งโดยไม่ได้รับอนุญาต<br />
    <br />
    เราจะเก็บรักษาและจัดการข้อมูลส่วนตัวของคุณในระยะเวลาเท่าที่จำเป็นสำหรับวัตถุประสงค์ตามที่ระบุในประกาศฉบับนี้  เพื่อให้สอดคล้องกับกฎหมายและข้อกำหนดตามที่เกี่ยวข้องทั้งหมด<br />
    <br />
  เราขอแนะนำให้คุณอย่าเปิดเผยรหัสผ่านของคุณให้ใครทราบ  พนักงานของเราจะไม่ถามรหัสผ่านของคุณด้วยการโทรหาหรือส่งอีเมลที่คุณไม่ได้เรียกร้องหรือยินยอม  ถ้าคุณใช้คอมพิวเตอร์ร่วมกับผู้อื่น คุณไม่ควรเก็บรักษาข้อมูลการเข้าระบบของคุณ  (เช่น ID ผู้ใช้งานและรหัสผ่าน) ไว้ในเครื่องคอมพิวเตอร์ที่ใช้งานร่วมกันน</p>
</div>
<div class="content_title">
  E. การประมวลผลข้อมูลในต่างประเทศ
</div>
<div class="content">
  <p>
    ข้อมูลส่วนตัวของคุณอาจถูกประมวลผลนอกประเทศที่คุณอาศัยอยู่ (รวมทั้งนอกประเทศไทย)
    รวมทั้งในสถานที่ใดก็ตามที่เอพี บริษัทอื่นๆ ในเครือ และกลุ่มบุคคลภายนอกอื่นๆ ที่เราสามารถเปิดเผยข้อมูลส่วนตัวภายใต้ข้อ C
    ข้างต้นนั้นดำเนินกิจการอยู่ ในประเทศต่างๆ ซึ่งข้อมูลส่วนตัวของคุณสามารถถูกประมวลผลได้นั้นอาจไม่มีกฎหมายปกป้องข้อมูลที่เหมือนกับกฎหมายของประเทศที่คุณอาศัยอยู่
    (รวมทั้งประเทศไทย)
  </p>
</div>
<div class="content_title">
  F. เว็บไซต์และการบริการของกลุ่มบุคคลภายนอก
</div>
<div class="content">
  <p>
    บัญชีชำระเงินสำหรับเอพีอาจจะให้ลิงค์เชื่อมโยงไปยังเว็บไซต์และการบริการอื่น (รวมทั้งแอพพลิเคชั่นที่ดำเนินงานโดยกลุ่มบุคคลภายนอก)
    เพื่อความสะดวกและให้ข้อมูลแก่คุณ การบริการและเว็บไซต์เหล่านี้อาจดำเนินงานเป็นอิสระจากเรา และอาจมีประกาศและนโยบายความเป็นส่วนตัวท
    ซึ่งเราขอแนะนำให้คุณทบทวนตรวจสอบก่อนที่จะใช้บริการหรือทำกิจกรรมใดๆ บนเว็บไซต์เหล่านั้น
    ตามขอบเขตที่เราไม่ได้เป็นเจ้าของหรือควบคุมเว็บไซต์ที่ถูกลิงค์ไปซึ่ง
    เราจะไม่รับผิดชอบกับเนื้อหา การปฏิบัติเกี่ยวกับความเป็นส่วนตัว และคุณภาพของการบริการต่างๆ บนเว็บไซต์เหล่านั้น
  </p>
</div>
<div class="content_title">
  G. เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล
</div>
<div class="content">
  <p>
    บริษัทได้มีการดำเนินการปฏิบัติตามพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562 โดยแต่งตั้งเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล
    (Data Protection Officer : DPO) เพื่อตรวจสอบการดำเนินการของบริษัทที่เกี่ยวกับการเก็บรวบรวม
    ใช้และเปิดเผยข้อมูลส่วนบุคคลให้สอดคล้องกับพระราชบัญญัติคุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562
    รวมถึงกฎหมายที่เกี่ยวข้องกับการคุ้มครองข้อมูลส่วนบุคคล นอกจากนี้ บริษัทได้จัดทำระเบียบ คำสั่งให้ผู้เกี่ยวข้องดำเนินการตามที่กำหนดไว้
    เพื่อให้การดำเนินงานตามแนวนโยบายเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคลให้เป็นไปด้วยความเรียบร้อย อีกทั้ง
    ยังเป็นไปตามนโยบายของคณะกรรมการกำกับการบริหารข้อมูลส่วนบุคคลและความมั่นคงปลอดภัยไซเบอร์ของบริษัทที่กำหนด
  </p>
</div>
<div class="content_title">
  H. การเปลี่ยนแปลงประกาศฉบับนี้
</div>
<div class="content">
  <p>
    เอพีขอสงวนสิทธที่จะทำการเปลี่ยนแปลง แก้ไข หรือทบทวนประกาศฉบับนี้เป็นครั้งคราว
  </p>
</div>
<div class="content_title">
  I. ข้อมูลเพิ่มเติม
</div>
<div class="content">
  <p>หากคุณต้องการติดต่อเรา  รวมทั้งถต้องการทใช้สิทธิ์ใดๆเพิ่มเติม ที่มีอยู่ภายใต้กฎหมาย  (เช่นการใช้สิทธิ์ะเลือกไม่ดำเนินการประมวลผลข้อมูล) กรุณาติดต่อเจ้าหน้าที่ฝ่ายคุ้มครองข้อมูลส่วนบุคคล(Data Protection Officer) โทรศัพท์ 1623<br />
    <br />
  หมายเหตุ เอพีสามารถเรียกเก็บค่าธรรมเนียมตามความเหมาะสม  สำหรับการดำเนินการตามคำร้องขอของท่านอย่างหนึ่งอย่างใด หากมีกฎหมายที่เกี่ยวข้องอนุญาตให้สามารถกระทำได้ </p>
</div>
